* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  background: linear-gradient(to left, #159ee2 0%, #1853a1 100%);
  height: 100vh;
  color: #f8eacd;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

